.double-pulse {
    -webkit-animation: double-pulse 1.5s ease-in-out infinite;
    -moz-animation: double-pulse 1.5s ease-in-out infinite;
    -o-animation: double-pulse 1.5s ease-in-out infinite;
    animation: double-pulse 1.5s ease-in-out infinite;
}

.footer {
    color: $color-background-lighter;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-family: $font-subtitles;
    align-self: flex-end;
    text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4);

    i {
        font-size: 0.7em;
    }

    @media (orientation: portrait) {
        font-size: 2.5em;
    }
    @media (orientation: portrait) and (max-width: 900px) {
        font-size: 1.5em;
    }
    @media (orientation: portrait) and (max-width: 500px) {
        font-size: 0.9em;
    }
}
