#header-container {
    @extend %flex-column-centered;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
    justify-self: center;

    @media (orientation: portrait) {
        align-self: center;
    }

    img {
        @media (orientation: portrait) and (min-width: 900px) {
            transform: scale(1.5);
        }
    }

    h1 {
        text-align: center;
        font-family: $font-title;
        font-weight: 500;
        color: $color-font-primary;

        font-size: 7em;
        margin: 0 auto;

        text-shadow: 0.01em 0.01em 0.03em rgba(0, 0, 0, 0.8);

        @media (orientation: portrait) {
            font-size: 8em;
        }
        @media (orientation: portrait) and (max-width: 900px) {
            font-size: 6em;
        }
        @media (orientation: portrait) and (max-width: 500px) {
            font-size: 5em;
            margin: 0.3em 0;
        }
    }
}

.background-video {
    object-fit: cover;
    z-index: -1;
    grid-row: 1/4;
    grid-column: 1/4;
    @extend %fullSpace;
}
