.hidden-area {
    height: 0px;
    width: 0px;
    opacity: 0;
}

.copyable-input,
.copyable-input:focus,
.copyable-input:focus-visible {
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    opacity: 0;
}

.rsvp,
.honeymoon {
    margin: 5em 0;

    & > * {
        max-width: 80vw;
        text-align: center;
    }
}

.rsvp {
    h2 {
        font-size: 6em;
        padding: 0;
        margin: 0.1em 0;

        @media (max-width: 900px) {
            font-size: 5em;
        }

        @media (max-width: 500px) {
            font-size: 3.3em;
        }
    }

    p {
        font-family: $font-subtitles;
        color: $color-font-text;
        font-size: 1.7em;
        padding: 0;
        margin: 0.3em 0;

        @media (max-width: 900px) {
            font-size: 1.7em;
        }

        @media (max-width: 500px) {
            font-size: 2em;
        }

        @media (orientation: portrait) {
            font-size: 2.4em;
        }

        @media (orientation: portrait) and (max-width: 900px) {
            font-size: 1.4em;
        }
        @media (orientation: portrait) and (max-width: 500px) {
            font-size: 1.2em;
        }
    }
}

.honeymoon {
    h2 {
        color: $color-font-primary;
        padding: 0;
        margin: 0.1em 0;
    }

    .honeymoon-text {
        margin: 0.3em 0;
        text-align: center;
    }

    .copy {
        margin: 0;
        @extend %flex-row-centered;
    }

    p,
    label,
    input,
    .copy-btn {
        color: $color-font-primary;
        font-family: $font-subtitles;
        font-size: 1.7em;

        text-shadow: 0.03em 0.03em 0.03em rgba(0, 0, 0, 0.8);
        padding: 0;
        margin: 0.3em 0.5em 0.3em 0;

        @media (max-width: 900px) {
            font-size: 1.7em;
        }

        @media (max-width: 500px) {
            font-size: 2em;
            align-self: flex-end;
        }

        @media (orientation: portrait) {
            font-size: 2.4em;
        }

        @media (orientation: portrait) and (max-width: 900px) {
            font-size: 1.4em;
        }
        @media (orientation: portrait) and (max-width: 500px) {
            font-size: 1.2em;
        }
    }

    .copy-btn {
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid $color-font-primary;

        color: $color-font-primary;
        background-color: transparent;
        margin-left: 0.3em;

        -webkit-box-shadow: 0 1px 20px 0 rgb(100 100 100 / 20%);
        -moz-box-shadow: 0 1px 20px 0 rgba(100, 100, 100, 0.2);
        box-shadow: 0 1px 20px 0 rgb(100 100 100 / 20%);

        i {
            font-size: 1em;
            vertical-align: sub;
            text-align: center;
            padding: 0.3em;
            -webkit-box-shadow: 0 0px 0px 0 rgb(100 100 100 / 0%);
            -moz-box-shadow: 0 0px 0px 0 rgba(100, 100, 100, 0);
            box-shadow: 0 0px 0px 0 rgb(100 100 100 / 0%);
        }

        &:hover {
            color: transparent;
            mix-blend-mode: screen;
            background-color: $color-font-primary;
            -webkit-box-shadow: 0 1px 10px 0 rgb(220 220 220 / 70%);
            -moz-box-shadow: 0 1px 10px 0 rgba(220, 220, 220, 0.7);
            box-shadow: 0 1px 10px 0 rgb(220 220 220 / 70%);
        }

        @media (max-width: 500px) {
            border-width: 1.5px;
        }
    }
}
